node_modules
npm-debug.log
.git
.github
.vscode
.devcontainer
.husky
.vercel
.vercelignore
coverage
tests
*.md
!readme.md
.eslintrc.json
eslint.config.mjs
.prettierrc.json
.prettierignore
jest.config.js
jest.bench.config.js
jest.e2e.config.js
codecov.yml
